.page {
  padding: 1rem;
}

.header {
  display: flex;
}

.container {
  flex: 1;
  margin-inline-end: .5rem;
}

.input {
  width: 100%;
}

.close {
  width: 2.5rem;
  height: 2.5rem;
  align-self: flex-start;
}

.suggestionsList {
  list-style-type: none;
  padding: 0;
}

.suggestion {
  background-color: transparent;
  font-weight: 400;
  height: 2.5rem;
  padding: .5rem;
  font-size: 1.125rem;
  
  &:not(:last-child) {
    margin-block-end: .5rem;
  }
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}