@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-primary: #4A90E2;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, button {
  border: none;
}

